In [31]:
import pandas
%pylab inline
import matplotlib
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

Populating the interactive namespace from numpy and matplotlib

## Let's take a look at some of the data we have

In [32]:
N = 5e6
data = pandas.read_csv('data/trip_data_1.csv')
fare_data = pandas.read_csv("data/trip_fare_1.csv", nrows=N)

In [ ]:
fare_data[:5]

,medallion,hack_license,vendor_id,pickup_datetime,payment_type,fare_amount,surcharge,mta_tax,tip_amount,tolls_amount,total_amount
0,89D227B655E5C82AECF13C3F540D4CF4,BA96DE419E711691B9445D6A6307C170,CMT,2013-01-01 15:11:48,CSH,6.5,0.0,0.5,0.0,0.0,7.0
1,0BD7C8F5BA12B88E0B67BED28BEA73D8,9FD8F69F0804BDB5549F40E9DA1BE472,CMT,2013-01-06 00:18:35,CSH,6.0,0.5,0.5,0.0,0.0,7.0
2,0BD7C8F5BA12B88E0B67BED28BEA73D8,9FD8F69F0804BDB5549F40E9DA1BE472,CMT,2013-01-05 18:49:41,CSH,5.5,1.0,0.5,0.0,0.0,7.0
3,DFD2202EE08F7A8DC9A57B02ACB81FE2,51EE87E3205C985EF8431D850C786310,CMT,2013-01-07 23:54:15,CSH,5.0,0.5,0.5,0.0,0.0,6.0
4,DFD2202EE08F7A8DC9A57B02ACB81FE2,51EE87E3205C985EF8431D850C786310,CMT,2013-01-07 23:25:03,CSH,9.5,0.5,0.5,0.0,0.0,10.5

In [ ]:
fare_cols = [u' payment_type', u' fare_amount', u' surcharge', u' mta_tax', u' tip_amount', u' tolls_amount', u' total_amount']
data = data.join(fare_data[fare_cols])
del fare_data
data[:10]

It looks like medallion and hack_license are unique ids but they may not be beneficial for most of our efforts.

In [ ]:
data.loc[:5, data.columns[:5]]

In [ ]:
#let's plot time and total amount
data.plot(x="trip_time_in_secs", y=" total_amount", kind="scatter", s=2)
xlim(0, 1e4)
ylim(0, 300)

In [ ]:
ind = where(logical_and(data.trip_time_in_secs < 500, data[' total_amount'] > 30))[0]
print(ind)

In [ ]:
data = data.drop(ind)

In [ ]:
data[logical_and(data.dropoff_latitude > 40.6, data.dropoff_latitude < 40.9)].dropoff_latitude.hist(bins=20)

In [ ]:
data[logical_and(data.dropoff_longitude > -74.05, data.dropoff_longitude < -73.9)].dropoff_longitude.hist(bins=20)

In [ ]:
data.vendor_id.value_counts().plot(kind='bar');

In [ ]:
data.rate_code.value_counts().plot(kind='bar', logy=True, ylim=(1,1e8))

In [ ]:
data.store_and_fwd_flag.value_counts().plot(kind="bar")